body
{
background-color:grey
}

h1
{
background-color:pink;
text-align:center;
font-family:arial black;
color:blue;
}
p
{
text-align:justify;
spacing="1.5";
color: black;
font-family: arial;
font-size:0.5cm;
background-color:white
}
table 
{
border:1px solid black;
width:40%;
text-align:center;
background-color:pink
}

